/*Shiva khatri thapa  UN-id:16418529*/
/* Google api fonts are being imported*/
@import url('https://fonts.googleapis.com/css?family=Palanquin+Dark');
@import url('https://fonts.googleapis.com/css?family=Anton');
body
  {/* margin set to 0 so there won't be lines surrounding on the site */
    margin:0px;
    background: url("../images/bc.png") no-repeat;
    background-size: cover;
  }
.header
  {/*background have been set and class header is the parent container so display:flex have been used here*/
    background: salmon;
    display: flex;
      /* Flex-flow:row wrap allows the child containers to slide above eachother when there isn't enought space for them on the same row */
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    width:100%;
  }
nav
  {/* Nav is the parent container so flex have been used on it*/
    width:100%;
    margin:auto;
    background-color: white;
    display: flex;
    justify-content: space-around;
   /*border-radius have been used to make the edges of the container  curved*/
    border-radius: 15px;
  }
nav div
  {
  padding:10px;
  width:100%;
  text-align: center;
   /* Transiton have been used so the hover effect looks smooth*/
  transition-property: background-color;
  transition-duration: 3s;
  transition-delay: -1s;
  }
nav div a
  {
    text-decoration: none;
    color: black;
   /*Imported api fonts have been used here*/
    font-family: "Palanquin Dark";
  }
nav div:hover
  {/* this gives the hover effect to the divs and the background will change while hovering our pointer over the divs*/
  background-color:#999;
  border-radius: 15px;
  }
.content
  {
  text-align: left;
  height:100%;
  }

section p,h1
  {/* here the effects below will be applied to the p and h1 which are located inside section and not to other h1 and p*/
  text-align: center;
  font-family:"Anton";
  color:white;
  margin:0 auto;
  }
  div.abt
  {/*Here div with class abt is the parent container*/
    display:flex;
    flex-direction: row;
    align-items: flex-start;
  }
div.top
 {
  padding:5px;
  /*here shadow property have been given to the text inside div.top*/
  text-shadow: 2px 2px #888;
  width:90%;
  background-color: #999;

 }
div.top2
 {
  font-size: 0.9em;
 }
div.top3
 {
  text-align: center;
  width: 100%;
  background-color: #999;
 }
.shiva
 {
  width:20%;
  margin:0;
 }
section.content a
{
    text-decoration: none;
}
footer
  {/*Footer is a parent container and flex have been used and the childs are arranged in a row and are at the center of the parent container*/
  display:flex;
  flex-direction: row;
  justify-content: center;
  background-color: grey;
  padding-top: 10px;
  width:100%;
  }
footer div a
  {
    padding:3px;   
  }
footer div a:hover
  {/*this gives the hover effect for the "a" in the footer*/
    background-color: dimgray;
      border-radius: 50%;
  }
footer div
  {/*this is a nested div and flex*/
    display:flex;
    justify-content: flex-end;
    width:30%;
    align-items: center;
  }
footer p
  {
    width: 50%;
  }
.lpart
  {/*div with class lpart have been given flex property*/
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    background-color: #444;
    padding:3px;
  }
.lpart1
  {
    width:100%;
    border:2px solid salmon;
  }
.lpart2
  {
    width:40%;
    border:2px solid salmon;
  }
.lpart3
  {
    width:40%;
    border:2px solid salmon;
  }
.big2
  {
    display:flex;
    flex-direction: row;
    justify-content: center;
  }
.sub
  {
    font-family:"Anton";
    background-color: white;
  }
.sub:hover
  {/*hover effet have been given to the container with class sub*/
      background-color: lightgrey;
}
table {
    border-collapse: collapse;
    width: 40%;
    margin:10px;
    font-family: "Palanquin Dark";
    color:white;
}

td, th 
 {
    border: 5px solid #dddddd;
    text-align: left;
    padding: 8px;
    transition-property: background-color;
    transition-duration: 3s;
    transition-delay: -1s;
 }
td:hover
 {
  background-color: #999;
 }
div.contact
 {
  display:flex;
  flex-direction: column;
  align-items: center;
 }
form
 {/*Form is the parent container and flex have been used to manage the position of its child containers*/
   width: 50%;
   padding: 20px 20px;
   font-family: "Palanquin Dark";
   color:white;
   font-size: 1.2em;
   display:flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
 }
form input
 {
  width:70%;
  padding:10px;
  border-radius: 6px;
 }
form textarea
 {
  width:70%;
  border-radius: 6px;
 }
form div
 {
  width:100%;
 }
div.ldivs
{
    display:flex;
    flex-direction: column;
    background-color: #444;
   font-size: 0.6em;
}
/*This is for screens larger than 1204px.(large laptops or desktops)*/
@media all and (min-width: 1024px)
  {
header
  {
  height:90px;
  }
nav
  {
  max-width: 900px;
  }
section p
  {
    font-size: 2em;
  }
section img
  {
    width:70%;
    padding:0px;
    display: block;
    margin: auto;
  }
  }
/*This is for screens smaller than 1203px.(laptops or desktops)*/
@media all and (max-width: 1023px)
  {
section p
  {
    font-size: 2em;
    padding:0px;
  }
section img
  {
    width:100%;
    padding:0px;
    display: block;
    margin: auto;
  }
  nav
  {
    width:95%;
  }
  form
  {
     width: 75%;
  }
  div.lpart3
  {
    font-size: 0.7em;
  }
  }
/*This is for screens smaller than 767px.(l-mobile,s-mobile)*/
@media all and (max-width: 767px)
  {
content p
  {
      font-size:1.4em;
      padding:0px;
  }
  form
  {
     width: 80%;
  }
  div.top2
  {/*the font size will be smmall in this screen below 768px*/
    font-size: 0.7em;
  }
  .big2
  {
    flex-flow: row wrap;
  }
  table
  {
      width: 80%;
  }
  .lpart
  {
    flex-flow: row wrap;
  }
  div.lpart3
  {
    font-size: 0.9em;
    width:100%;
  }
  footer div
      {
          width:40%;
      }

}
