@import url('https://fonts.googleapis.com/css?family=Palanquin+Dark');
@import url('https://fonts.googleapis.com/css?family=Anton');
body
  {/* margin set to 0 so it */
    margin:0px;
    background: url("../images/bc.jpg") no-repeat;
    background-size: cover;
  }
.header
  {
    background: salmon;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    width:100%;
  }
nav
  {
    width:100%;
    margin:auto;
    background-color: white;
    display: flex;
    justify-content: space-around;
    border-radius: 15px;
  }
nav div
  {
  padding:10px;
  width:100%;
  text-align: center;
  transition-property: background-color;
  transition-duration: 3s;
  transition-delay: -1s;
  }
nav div a
  {
    text-decoration: none;
    color: black;
    font-family: "Palanquin Dark";
  }
nav div:hover
  {
  background-color:#999;
  border-radius: 15px;
  }
.content
  {
  text-align: left;
  height:100%;
  }

section p,h1
  {
  text-align: center;
  font-family:"Anton";
  color:white;
  margin:0 auto;
  }
  div.abt
  {
    display:flex;
    flex-direction: row;
    align-items: flex-start;
  }
div.top
 {
  padding:5px;
  text-shadow: 2px 2px #999;
  width:90%;
  background-color: #999;

 }
div.top2
 {
  font-size: 0.9em;
 }
div.top3
 {
  text-align: center;
  width: 100%;
  background-color: #999;
 }
.shiva
 {
  width:20%;
  margin:0;
 }
footer
  {
  display:flex;
  flex-direction: row;
  justify-content: center;
  background-color: grey;
  padding-top: 10px;
  width:100%;
  }
footer div a
  {
    padding:3px;   
  }
footer div a:hover
  {
    background-color: dimgray;
      border-radius: 50%;
  }
footer div
  {
    display:flex;
    justify-content: flex-end;
    width:30%;
    align-items: center;
  }
footer p
  {
    width: 50%;
  }
.lpart
  {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    background-color: #444;
    padding:3px;
  }
.lpart1
  {
    width:100%;
    border:2px solid salmon;
  }
.lpart2
  {
    width:40%;
    border:2px solid salmon;
  }
.lpart3
  {
    width:40%;
    border:2px solid salmon;
  }
.big2
  {
    display:flex;
    flex-direction: row;
    justify-content: center;
  }
.sub
  {
    font-family:"Anton";
    background-color: white;
  }
.sub:hover
  {
      background-color: lightgrey;
}
table {
    border-collapse: collapse;
    width: 40%;
    margin:10px;
    font-family: "Palanquin Dark";
    color:white;
}

td, th 
 {
    border: 5px solid #dddddd;
    text-align: left;
    padding: 8px;
    transition-property: background-color;
    transition-duration: 3s;
    transition-delay: -1s;
 }
td:hover
 {
  background-color: #999;
 }
div.contact
 {
  display:flex;
  flex-direction: column;
  align-items: center;
 }
form
 {
   width: 50%;
   padding: 20px 20px;
   font-family: "Palanquin Dark";
   color:white;
   font-size: 1.2em;
   display:flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
 }
form input
 {
  width:70%;
  padding:10px;
  border-radius: 6px;
 }
form textarea
 {
  width:70%;
  border-radius: 6px;
 }
form div
 {
  width:100%;
 }
@media all and (min-width: 1024px)
  {
header
  {
  height:90px;
  }
nav
  {
  max-width: 900px;
  }
section p
  {
    font-size: 2em;
  }
section img
  {
    width:70%;
    padding:0px;
    display: block;
    margin: auto;
  }
  }
@media all and (max-width: 1023px)
  {
section p
  {
    font-size: 2em;
    padding:0px;
  }
section img
  {
    width:100%;
    padding:0px;
    display: block;
    margin: auto;
  }
  nav
  {
    width:95%;
  }
  form
  {
     width: 75%;
  }
  div.lpart3
  {
    font-size: 0.7em;
  }
  }
@media all and (max-width: 767px)
  {
content p
  {
      font-size:1.4em;
      padding:0px;
  }
  form
  {
     width: 80%;
  }
  div.top2
  {
    font-size: 0.7em;
  }
  .big2
  {
    flex-flow: row wrap;
  }
  table
  {
      width: 80%;
  }
  .lpart
  {
    flex-flow: row wrap;
  }
  div.lpart3
  {
    font-size: 0.9em;
    width:100%;
  }
}
